<ion-view title="Notícias Perto de Mim" id="noticias_perto" class="bg-noticias" >
    <ion-content padding="true" class="has-header">
        <ion-list id="configuraEs-list2" class=" ">
            <div class="item item-button-right">
                Você está em <b>{{city}}</b>

            </div>
        </ion-list>
        <ion-refresher pulling-text="Puxe para atualizar..." on-refresh="loadNewerStories()">
        </ion-refresher>
        <ion-list id="noticias-list" class=" ">
            <ion-item class="item-thumbnail-left" ng-repeat="story in stories track by story._id" id="noticiias-list-item" ui-sref="tabsController.noticiaCompleta({type:story._id})">
                <img actual-src="{{story.thumbnail}}" ng-if="story.thumbnail.startsWith('http')" ng-src="img/noticias_online_logo.png">
                <img ng-src="{{story.thumbnail}}" ng-if="!story.thumbnail.startsWith('http')">
                <h2 class="story-title">{{story.title}}</h2>
                <p>
                    <span am-time-ago="story.pubdate" ></span>
                    - {{story.meta_title}}
                </p>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadOlderStories()" distance="1%" ng-if="hasMoreData">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>