<ion-view title="Notícia Online" id="noticiaCompleta" class="bg-noticias">

    <ion-content padding="true" class="has-header">

        <div class="list card">

            <div class="item item-avatar item-text-wrap">
                <img actual-src="{{story.thumbnail}}" ng-if="!story.thumbnail.startsWith('http')" ng-src="img/noticias_online_logo.png">


                <h2 >{{story.title}}</h2>
                <span am-time-ago="story.pubdate" ></span>
            </div>

            <div class="item item-body">
                <div ng-bind-html="story.content" class="noticia-completa" id="description_story">
                </div>

            </div>
            <a class="item item-icon-left positive" ng-click="readMore()">
                <i class="icon ion-android-laptop"></i>
                Veja a matéria na fonte {{story.meta_title}}
            </a>
        </div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
        <button class="button button-clear"
                ng-click="shareAnywhere()">
            <i class="ion-ios-upload-outline">
            &nbsp; Compartilhe</i>
        </button>
    </ion-footer-bar>
</ion-view>