<ion-view title="Tabs Controller" id="page1"  class="bg-noticias">
    <ion-tabs class="tabs-striped tabs-color-positive"  style="background-color: #f8f8f8" id="tabsController-tabs1">
        <ion-tab title="Atualizar" icon="ion-ios-paper" class="custom-icon" href="#/tabs-page/news" id="tabsController-tab1" class=" ">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Perto de mim" icon="ion-ios-location" ui-sref="tabsController.noticiaPertoDeMim({type:''})" id="tabsController-tab2" class=" ">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Cloud Tab" icon="ion-android-settings" href="#/tabs-page/profile" id="tabsController-tab3" class=" ">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>