<ion-view title="Configurações" id="configuracoes" class="bg-noticias">
    <ion-content padding="true" class="has-header">
        <ion-list id="configuraEs-list2" class=" ">
            <div class="item item-button-right">
                Atualizar minha localização
                <button class="button button-positive" ng-click="refresh_location()">
                    <i class="icon ion-android-locate"></i>
                </button>
            </div>
        </ion-list>
    </ion-content>
</ion-view>