<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>



    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="lib/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->


    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">


    <style type="text/css">
        .platform-ios .manual-ios-statusbar-padding{
            padding-top:20px;
        }
        .manual-remove-top-padding{
            padding-top:0px;
        }
        .manual-remove-top-padding .scroll{
            padding-top:0px !important;
        }
        ion-list.manual-list-fullwidth div.list, .list.card.manual-card-fullwidth {
            margin-left:-10px;
            margin-right:-10px;
        }
        ion-list.manual-list-fullwidth div.list > .item, .list.card.manual-card-fullwidth > .item {
            border-radius:0px;
            border-left:0px;
            border-right: 0px;
        }
    </style>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/routes.js"></script>
    <script src="js/services.js"></script>
    <script src="js/directives.js"></script>
    <script src="lib/moment/moment.js"></script>
    <script src="lib/angular-moment/angular-moment.js"></script>
    <script src="lib/moment/locale/pt-br.js"></script>


    <!-- Only required for Tab projects w/ pages in multiple tabs 
    <script src="lib/ionicuirouter/ionicUIRouter.js"></script>
    -->

</head>
<body ng-app="app" animation="slide-left-right-ios7">
<div>
    <ion-side-menus enable-menu-with-back-views="false" data-componentid="side-menu21">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-stable">
                <ion-nav-back-button></ion-nav-back-button>
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>

            </ion-nav-bar>
            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" id="side-menu21">
            <ion-header-bar class="bar-stable bar-positive">
                <div class="title">Menu</div>
            </ion-header-bar>
            <ion-content padding="false" class="side-menu-left has-header">
                <ion-list id="menu-list3" class=" " data-componentid="list3">
                    <ion-item menu-close="" id="menu-list-item19" ui-sref="tabsController.noticias" class="  " data-componentid="list-item19">Online</ion-item>
                    <ion-item menu-close="" id="menu-list-item12" ui-sref="tabsController.noticias_especificas({type:'GERAL'})" class="  " data-componentid="list-item12">Geral</ion-item>
                    <ion-item menu-close="" id="menu-list-item15" ui-sref="tabsController.noticias_especificas({type:'FUTEBOL'})" data-componentid="list-item15">Futebol</ion-item>
                    <ion-item menu-close="" id="menu-list-item14" ui-sref="tabsController.noticias_especificas({type:'FOFOCA'})" data-componentid="list-item14">Fofocas</ion-item>
                    <ion-item menu-close="" id="menu-list-item13" ui-sref="tabsController.noticias_especificas({type:'POLITICA'})" data-componentid="list-item13">Política</ion-item>
                    <ion-item menu-close="" id="menu-list-item18" ui-sref="tabsController.noticias_especificas({type:'TECNOLOGIA'})" data-componentid="list-item18">Tecnologia</ion-item>
                    <ion-item menu-close="" id="menu-list-item16" ui-sref="tabsController.noticias_especificas({type:'ESPORTE'})" data-componentid="list-item16">Esportes</ion-item>
                    <ion-item menu-close="" id="menu-list-item17" ui-sref="tabsController.noticias_especificas({type:'ECONOMIA'})" data-componentid="list-item17">Economia</ion-item>
                    <ion-item id="menu-list-item11" ng-controller="noticiasCtrl" ng-click="shareNoticias()"  data-componentid="list-item11">Compartilhe o Notícias Online</ion-item>
                </ion-list>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</div>
</body>
</html>
