/* Empty. Add your own CSS if you like */
h2.story-title{
	white-space: normal;
	height: 3.6em;
}
.bar.bar-positive{
    background-color: #365a71;
    border-color: #365a71;
}

.bg-noticias{
    background-color: #365a71;
    border-color: #365a71;
}

#description_story{

}

.noticia-completa  img{
    width: 100%;
    height: 50%;

}

.noticia-completa a{

    pointer-events: none;
    cursor: default;
    color:#262626;
    text-decoration: none;
}

.spinner svg {
    width: 28px;
    height: 28px;
    stroke: #fff;
    fill: #fff;
}


.tabs-striped.tabs-color-positive .tab-item.tab-item-active,
.tabs-striped.tabs-color-positive .tab-item.active,
.tabs-striped.tabs-color-positive .tab-item.activated{
    color: #365a71;
}

body{
    color: #262626;
}